* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
--first-color: #85586F;
--second-color: #E8DFE0;
--third-color: #F0E0C9;
--fourth-color: #D0B399;
--hover: #E2DCC8;
--body-bg-color: #302718;
--bg-transparent-color: rgba(0,0,0,0.1);
--transparent-color-01: rgba(0,0,0,0.1);
--transparent-color-02: rgba(106,89,209,0.1);
--box-shadow: 0px 0px 20px rgba(0 0 0 / 10%);
--scroll-bar-color:
  --main-bg: #F2F2F2;
  --primary-bg: #e2dcc80c;
  --primary-bg-dark: #2C2C2A;
  --highlight-color: #FFCBC1;
  --border: 0.14rem solid #FFCBC1;
  --border-gray: 1rem solid #85586F;
}

body {
  background-color: #333;
  color: var(--second-color);
}

/*navbar*/
.navbar {
  background-color: #333;
  padding: 1rem;
  width: 100%;
  border-bottom: var(--border);
  z-index: 1030;
}
.navbar-nav {
  margin-right: 2rem;
}
.logo {
  width: 3rem;
  margin-left: 3rem;
}
.nav-link {
  color: var(--first-color);
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0 0.4rem;
  transition: all 0.2s linear;
}
.nav-link:hover {
  color: var(--second-color);
  padding-bottom: 0.3rem;
}
#menu {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--highlight-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}

/*Home section*/

section {
  padding: 160px 15% 120px;
}

.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/604/original/pexels-christina-morillo-1181279.jpg?1674780369');
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content h1 {
  font-size: 2.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content h2 {
  line-height: 4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 900;
  color: var(--first-color)
}
.content .details {
  font-size: 2.2rem;
  margin-bottom: 1.35rem;
}


























/*media queries*/
@media (max-width: 991px) {
  html {
    font-size: 95%;
  }
  .navbar-nav {
    position: absolute;
    right: -100%;
    background: var(--second-color);
    width: 100vw;
    height: auto;
    margin-right: 0;
    margin-top: 2.5rem;
    opacity: 0.8;
    text-align: left;
    
  }
  
  .navbar.active {
    top: 0;
  }
  .nav-link {
    background-color: transparent;
    display: block;
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  .nav-link:hover {
    color: var(--primary-bg-dark);
  }
}
