* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --first-color: #85586f;
  --second-color: #e8dfe0;
  --third-color: #f0e0c9;
  --fourth-color: #d0b399;
  --hover: #e2dcc8;
  --body-bg-color: #302718;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 89, 209, 0.1);
  --box-shadow: 0px 0px 20px rgba(0 0 0 / 10%);

  --main-bg: #f2f2f2;
  --primary-bg: #e2dcc80c;
  --primary-bg-dark: #2c2c2a;
  --highlight-color: #ffcbc1;
  --border: 0.14rem solid #e2dcc8;
  --border-gray: 1rem solid #85586f;
}

body {
  background-color: #333;
  color: var(--second-color);
}

/*navbar*/
.navbar {
  background-color: #333;
  padding: 1rem;
  width: 100%;
  border-bottom: var(--border);
  z-index: 1030;
}
.navbar-nav {
  margin-right: 2rem;
}
.logo {
  width: 2.8rem;
  margin-left: 3rem;
}
.nav-link {
  color: var(--first-color);
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0 0.4rem;
  transition: all 0.2s linear;
}
.nav-link:hover {
  color: var(--second-color);
  padding-bottom: 0.3rem;
}
#menu {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--highlight-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}

/*Home section*/

section {
  padding: 160px 15% 120px;
}

.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/604/original/pexels-christina-morillo-1181279.jpg?1674780369");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content h1 {
  font-size: 2.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content h2 {
  line-height: 4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 900;
  color: var(--first-color);
}
.content p {
  color: var(--first-color);
  font-weight: 900;
  font-size: 1.5rem;
}
.content .details {
  font-size: 2.2rem;
  margin-bottom: 1.35rem;
}

.contact-me {
  border: #85586f;
}
.contact-me:hover {
  background-color: #85586f;
}

/*About section*/

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  height: auto;
  max-width: 80%;
  border-radius: 30px;
}

.about-text h3 {
  color: var(--first-color);
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 2rem 0;
}

.heading h2 {
  font-size: 3.5rem;
  color: var(--highlight-color);
  line-height: 1;
}

.about-text p,
.about-content p {
  color: var(--second-color);
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

/*Skills section*/

.skills-section {
  background-color: #333;
  min-height: fit-content;
  padding: 2rem 6rem;
  color: var(--second-color);
}

.text-container {
  color: var(--first-color);
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 6rem 0;
}

.skill-item {
  border: none;
  border-radius: 10px;
}
.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  border-radius: 10px;
}
.vscode {
  width: 4rem;
}
.skill-icon i {
  margin: 20px;
  font-size: 4rem;
}
.fa-node-js {
  color: #fbd485;
}
.fa-bootstrap {
  color: #7431f9;
}
.fa-html5 {
  color: #de4b25;
}
.fa-css3-alt {
  color: #254ce4;
}
.fa-react {
  color: #5ed3f3;
}
.fa-codepen {
  color: white;
}
.skill-icon p {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  color: var(--first-color);
  font-weight: 600;
}

/*Projects section*/

.projects-section {
  background-color: #333;
}
.text-container-projects {
  color: var(--first-color);
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: -41px;
}
.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img-projects {
  max-width: 100%;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  min-width: 30rem;
  margin: 5px;
  text-align: center;
  overflow: hidden;

  margin-bottom: 0.5rem;
}
.box p {
  color: var(--first-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 5px;
}

.visit-site {
  background-color: var(--first-color);
  color: var(--second-color);

  padding: 0.6rem 2rem;
  margin: 3rem 0 2rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 600;
  transition: transform 0.3s ease-in;
  align-self: center;
  text-decoration: none;
}
.visit-site:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Certificates section*/

.certificates-section {
  background-color: #333;
  min-height: fit-content;
  padding: 1rem 1rem;
}
.certificate-item {
  border: none;
  border-radius: 10px;
}

.certificate-picture img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
  transition: all 150ms easy-in-out;
}
.certificate-picture:hover img {
  transform: scale(1.2);
}

/*Contact section*/

.contact-section {
  background-color: #333;
}
.contact-container {
  background-color: #e2dcc80c;
  margin: 1rem 1rem;
  padding: 0.2rem;
}
.text-section {
  align-self: center;
  font-size: 2rem;
  color: var(--first-color);
  padding: 1rem;
}
.connect-title {
  font-weight: 700;
  color: var(--second-color);
  font-size: 4rem;
  padding: 1.5rem;
}

.connect-picture img {
  max-width: 30rem;
  margin: 2.3rem 0;
  padding: 3rem;
}

/*Footer section*/
footer {
  text-align: center;
  margin-top: -60px;
  margin-bottom: 4rem;
}
.social-medias {
  gap: 2rem;
}
.social-medias .social-icon {
  font-size: 3rem;
  color: var(--first-color);
}
.social-medias .social-icon:hover {
  color: var(--second-color);
}

/*media queries*/
@media (max-width: 991px) {
  html {
    font-size: 95%;
  }
  .navbar-nav {
    position: absolute;
    right: -100%;
    background: var(--second-color);
    width: 100vw;
    height: auto;
    margin-right: 0;
    margin-top: 2.5rem;
    opacity: 0.8;
    text-align: left;
  }

  .navbar.active {
    top: 0;
  }
  .nav-link {
    background-color: transparent;
    display: block;
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  .nav-link:hover {
    color: var(--primary-bg-dark);
  }
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #img-projects {
    max-width: 100%;
    height: auto;
  }
  .connect-picture img {
    max-width: 38rem;
    margin: 5rem auto;
    height: auto;
  }
  .certificate-picture img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    transition: all 150ms easy-in-out;
  }
  .certificate-picture:hover img {
    transform: scale(1.2);
  }
  .about-img img {
  height: auto;
  max-width: 80%;
  border-radius: 30px;
}
}

@media (max-width: 1171px) {
  .connect-picture img {
    max-width: 20rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
}
