* {
  box-sizing: border-box;
  transition: 0.2s linear;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
--first-color: #85586F;
--second-color: #E8DFE0;
--third-color: #F0E0C9;
--fourth-color: #d0b399;
--hover: #e2dcc8;
--body-bg-color: #302718;


--bg-transparent-color: rgba(0,0,0,0.1);
--transparent-color-01: rgba(0,0,0,0.1);
--transparent-color-02: rgba(106,89,209,0.1);

--box-shadow: 0px 0px 20px rgba(0 0 0 / 10%);

--scroll-bar-color: 

  --main-bg: #f2f2f2;
  --primary-bg: #e2dcc80c;
  --primary-bg-dark: #2c2c2a;
  
  --highlight-color: #ffcbc1;
 
  --border: 0.14rem solid #ffcbc1;
  --border-gray: 0.12rem solid #2c2c2a;
  
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--first-color);

}


.navbar {
  background-color: #302718;
  
  padding: 1rem;
  width: 100%;
  border-bottom: var(--border);
  z-index: 1030;
}

.navbar-nav {
  margin-right: 4rem;
}

.logo {
  width: 3rem;
  margin-left: 3rem;
}

.nav-link {
  color:  var(--first-color);
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0 0.4rem;
  transition: all 0.2s linear;
}

.nav-link:hover {
  color: #E8DFE0;
  padding-bottom: 0.3rem;
  
}

#menu {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--main-text);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.home-page {
  min-height: 60vh;
}
.home-container {
  background-color: var(--second-color);
  height: fit-content;
  margin: 6rem 6rem 6rem;
}
.content {
  color: var(--body-bg-color);
  align-content: center;
  margin: auto 1rem;
  padding: 2rem;
  max-width: 550px;
}
.content h1 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content h2 {
  line-height: 4rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 900;
  color: var(--first-color)
}
.content .details {
  font-size: 1.2rem;
  margin-bottom: 1.35rem;
}
.profile {
  background: none;
  margin: 1rem;
}

.profile img {
  max-width: 100%;
  height: auto;
  background-color: var(--main-bg);
}
.picture {
  margin: 2.5rem 3rem;
  display: inline-block;
  align-items: flex-end;
  height: fit-content;
   width: 20rem;
  margin: 2rem 2rem 2rem 3rem;
}


.about {
  min-height: 80vh;
  background-color: var(--second-color);
  padding: 3rem 5rem;
}
.text-container-bg-light {
  color: var(--first-color)
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 2rem 0;
}
.about-me {
   color: var(--body-bg-color);
  font-size: 1.5rem;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
.about-container {
  background-color: var(--body-bg-color);
  margin: 0;
  padding: 2rem 2rem 2rem 2rem;
  line-height: 2rem;
}
.about-picture img {
  width: 30rem;
  margin: 1rem 0;
}
.about-content {
  color: var(--second-color);
  font-size: 1.5rem;
  text-align: justify;
}
.heading {
  color: var(--third-color);
  font-size: 1.6rem;
  font-weight: 600;
}
.contact-me {
  background-color: var(--second-color);
  color: var(--third-color);
  padding: 0.3rem 0.3rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.contact-me:hover {
  transform: scale(1.05);
  background-color: #85586F;
}


.skills-page {
  background-color: var(--body-bg-color);
  min-height: 80vh;
  padding: 7rem 6rem;
  color: var(--second-color);
}